# Python
__pycache__/
*.pyc

# Virtual environment
myvirtual2/
venv/
.env

# Streamlit cache
.streamlit/

# Uploaded PDFs
uploads/

# Chroma database
vector_store/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db